<h1>投稿一覧</h1>
<%= link_to '新しく投稿を作成する', new_blog_path ,class:"create-btn"%><br>


<div class="form_area">
    <% @blogs.each do |blog| %>
      <div>
        <%= image_tag blog.image.url,size: "250x250" %><br>
        <%= "content:"%><%= blog.content %><br>
        <%= "user name:"%><%= blog.user.name %><br>
        <%= link_to '詳細', blog %>
        
        <% if blog.user.id == @current_user.id %>
          <%= link_to '編集', edit_blog_path(blog) %>
        <% end %>

        <%= link_to '削除', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

  </div>
