<br>
<br>
<h1>お気にいり一覧</h1>
  <div class="form_area">
    <% @favorites.each do |favorite| %>
      <div><%= image_tag favorite.blog.image.url,size: "250x250" %>
      <br>
      <%= "content:"%><%= favorite.blog.content %>
      <br>
      <%= "user name:"%><%= favorite.blog.user.name %>
      </div>
    <% end %>
  </div>
