<br><br>
<h3>登録して友達の写真をチェックしよう</h3>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form_area">
<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :ユーザーネーム,class:"post-area" %><br>
  <%= f.text_field :name,class:"post-area" %><br>
  <%= f.label :メールアドレス,class:"post-area" %><br>
  <%= f.email_field :email,class:"post-area" %><br>
  <%= f.label :パスワード,class:"post-area" %><br>
  <%= f.password_field :password,class:"post-area" %><br>
  <%= f.label :確認パスワード,class:"post-area" %><br>
  <%= f.password_field :password_confirmation,class:"post-area" %><br>
  <%= f.label :プロフィール写真,class:"post-area" %><br>
  <%= f.file_field :profile_image,class:"post-area" %><br>
  <%= f.submit "登録する",class:"create-btn" %><br>
<% end %>
<br>
<p>アカウントをお持ちですか？</p>
<%= link_to "ログインする", new_session_path %>
</div>
