<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
        <%= link_to "マイページ", user_path(current_user.id),class:"link" %>
        <%= link_to "投稿一覧", blogs_path,class:"link" %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete,class:"link-btn" %>
      <% else %>
        <%= link_to "アカウント作成", new_user_path,class:"link" %>
        <%= link_to "ログイン", new_session_path,class:"link" %>
      <% end %>
    <%= yield %>
  </body>
</html>
